@tailwind base;
@tailwind components;
@tailwind utilities;

#carsMenuList .list:hover img {
  transform: scale(1.1);
}

#carsMenuList .list:hover label {
  font-weight: 900;
  transform: scale(1);
}

input {
  border: none;
  outline: none;
}

#mobileMenuBarLinks a:hover .titles {
  text-decoration: underline;
}

#overFlowXAxies::-webkit-scrollbar,
#overFlowNone::-webkit-scrollbar {
  display: none;
  --webkit-scrollbar-width: none;
  -ms-scrollbar-width: none; /* IE and Edge */
  scrollbar-width: none;
}
